<!-- View (ERB) -->
<h1 class="text-center my-4">Students List</h1>

<div class="table-responsive">
  <table class="table table-dark table-striped table-hover">
    <thead>
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Phone Number</th>
        <th>Category</th>
        <th>School</th>
        <th>Session</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <% @students.each do |student| %>
        <% if student.session == 'completed' %> 
          <tr>
            <td><%= student.FirstName %></td>
            <td><%= student.LastName %></td>
            <td><%= student.phone_number %></td>
            <td><%= student.category %></td>
            <td><%= student.school.name %></td>
            <td><%= student.session %></td>
            <td>
              <%= form_tag admin_issue_path, method: :post do %>
                <%= hidden_field_tag :student_id, student.id %>
                <%= submit_tag "Issue", class: "btn btn-primary" %>
              <% end %>
            </td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
