<%= form_with(model: [:admin, @school], url: admin_schools_path, local: true) do |form| %>
  <% if @school.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@school.errors.count, "error") %> prohibited this school from being saved:</h2>
      <ul>
      <% @school.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :address %>
    <%= form.text_field :address %>
  </div>

  <div class="field">
    <%= form.label :admin_email %>
    <%= form.text_field :admin_email %>
  </div>

  <div class="field">
    <%= form.label :admin_password %>
    <%= form.password_field :admin_password %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
