<!-- app/views/students_applications/new.html.erb -->

<h1>New Student Application</h1>

<%= form_with(model: @application, url: students_applications_path, local: true) do |form| %>
  <% if @application.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@application.errors.count, "error") %> prohibited this application from being saved:</h2>

      <ul>
        <% @application.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :FirstName %>
    <%= form.text_field :FirstName, autofocus: true %>
  </div>

  <div class="field">
    <%= form.label :LastName %>
    <%= form.text_field :LastName %>
  </div>

  <div class="field">
    <%= form.label :phone_number %>
    <%= form.text_field :phone_number %>
  </div>

  <div class="field">
    <%= form.label :category %>
    <%= form.select :category, ['Motor', 'Truck', 'Automobile'] %>
  </div>

  <div class="field">
    <%= form.label :school_id, "Choose School" %>
    <%= form.collection_select :school_id, School.all, :id, :name, prompt: "Select School" %>
  </div>

  <%= form.submit "Submit" %>
<% end %>
